# Environnement virtuel Python
venv/
env/
.venv/
.env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers Streamlit
.streamlit/
